<div class="row">
  <div class="large-7 medium-6 small-12 columns">
    <h2>Aramıza Katılın!</h2>
    <%= render 'form' %>
  </div>
  <br />
  <div class="large-4 medium-4 offset-1 right columns panel hide-for-small">
    <h3>Buralarda Yenimisiniz?</h3>
    <p>O halde; hemen bir hesap oluşturun ve büyük ailemize katılın!</p>
    <ul>
      <li>Takıldığın Konularla İlgili Sorular Sor</li>
      <li>Diğerlerinin Sorularını Cevapla</li>
      <li>İlgili Alanlarını Takip Et Ve Tartışmalara Dahil Ol.</li>
    </ul>
    <p class="lead">
      Öğrenirken Öğretmek İçin Yandaki Formu Doldurarak Başlayabilirsin.
    </p>
  </div>
</div>